.xButton {
  margin: 2px;
  box-sizing: border-box;
  display: inline-block;
  padding: 6px 1em;
  border-radius: 4px;
  color: #fff;
  font-family: inherit;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.xButton.primary {
  background-color: #009;
}
.xButton.circle {
  border-radius: 1.5em;
}
.xButton.warning {
  background-color: #ff0;
}
.ripple {
  position: relative;
}
.ripple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: block;
  background-image: radial-gradient(circle, #fff 10%, transparent 11%);
  background-position: 50%;
  background-repeat: no-repeat;
  transform: scale(12);
  transition: transform 0.6s, opacity 0.6s;
  opacity: 0;
  pointer-events: none;
}
.ripple:active::after {
  opacity: 1;
  transform: scale(0);
  transition: 0s;
}
