.input{
  border: 3px solid #ae7000;
}

.boss-Text-enter{
  opacity: 0;
}
.boss-Text-enter-active{
  opacity: 1;
  transition: opacity 2000ms;
}
.boss-Text-enter-done{
opacity: 1;
}

.boss-Text-exit{
  opacity: 1;
}
.boss-Text-exit-active{
  opacity: 0;
  transition: opacity 2000ms;
}
.boss-Text-exit-done{
  opacity: 0;
}